html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.main-trip-area {
    margin-top: 100px;
    width: 320px;
    /* margin: 0 0 0 0; */
    /* box-sizing: border-box; */
    align-content: center;
    display: inline-table;
    background-color: #F8F8F8;
}

    .main-trip-area > .header {
        background-color: #2F4EB4;
        width: 100%;
        height: 100px;
        padding: 20px;
    }

.header > p {
    color: #fff;
    padding: 0px;
    margin: 0px;
}

.seatCounterDiv {
    float: right;
}

    .seatCounterDiv > div {
        width: 120px;
        height: 25px;
        border: 1px solid;
        border-radius: 3px;
        float: left;
        position: relative;
    }
#availableSeats {
    background: green;
    color: #fff;
}
#totalSeats {
    background: #dc3545;
    color: #fff;
}

.search-container {
    position: relative;
}

.search-input {
    height: 64px;
    width: 288px;
    padding-left: 35px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #fff;
}

.search-container > span {
    float: left;
    padding-left: 35px;
    font-weight: 700;
    color: #2F4EB4;
}

.custom-icon {
    position: absolute;
    left: 0;
    top: 40px;
    color: #9D9D9C;
    padding: 5px;
    z-index: 2;
}

.btn-tomorrow {
    position: absolute;
    right: 6px;
    top: 50px;
    height: 24px;
    font-size: 14px;
    padding: 2px;
    width: 56px;
}

    .btn-tomorrow:hover {
        background-color: #fff;
        color: #313131;
    }

.btn-today {
    position: absolute;
    right: 6px;
    top: 23px;
    height: 24px;
    font-size: 14px;
    padding: 2px;
    width: 56px;
}

.btn-search {
    width: 208px;
    height: 41px;
}

.select2-selection--single {
    height: 64px !important;
    width: 288px !important;
    padding-left: 35px !important;
    padding-top: 16px !important;
    border: none !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    position: relative !important;
    text-align: justify !important;
    font-weight: 300 !important;
    margin-left: -35px !important;
}


.circle-arrow-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #9fa4a8;
    background-color: #ffffff;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    outline: none;
}

    .circle-arrow-btn .arrow {
        line-height: 5;
        font-size: 23px;
        color: #71757a;
        margin: -1px 0;
    }

    .circle-arrow-btn:hover {
        border-color: #7b8085;
    }
